.article h1 {
    font-family: "Bower", Georgia, "Times New Roman", serif;
  }
  
  .article p {
    font-family: "Helvetica Neue", Calibri, Corbel, Helvetica, Roboto, Droid,
      sans-serif;
  }
  
  .common_padding {
    padding: 5rem;
  }

  @media screen and (max-width: 500px) {
    .common_padding {
      padding: 2rem;
    }
  }