.cards {
  width: 17em;
  height: 22.5em;
  background: #152c5b;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.cards span {
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
  font-size: 1em;
}

.cards .info {
  font-weight: 400;
  color: white;
  display: block;
  text-align: center;
  font-size: 0.72em;
  margin: 1em;
}

.cards .img {
  width: 4.8em;
  height: 4.8em;
  background: white;
  border-radius: 15px;
  margin: auto;
}

.cards .share {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.cards a {
  color: white;
  transition: 0.4s ease-in-out;
}

.cards a:hover {
  color: red;
}

.cards button {
  padding: 0.8em 1.7em;
  display: block;
  margin: auto;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: #ffffff;
  color: rgb(0, 0, 0);
  transition: 0.4s ease-in-out;
  margin-bottom: 1rem;
}

.cards button:hover {
  background: red;
  color: white;
  cursor: pointer;
}

.allCards {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card_img{
  background-image: url("https://aiproff.ai/dist/assets/trailer1-36338ef2.jpeg");
}