.article h1 {
    font-family: "Bower", Georgia, "Times New Roman", serif;
  }
  
  .article p {
    font-family: "Helvetica Neue", Calibri, Corbel, Helvetica, Roboto, Droid,
      sans-serif;
  }
  .article ul{
    font-family: "Helvetica Neue", Calibri, Corbel, Helvetica, Roboto, Droid,
      sans-serif;
  }
  
  /* For Share Dropdown */
  .chat-bubble::before {
    content: "";
    position: absolute;
    top: -8px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent #ffffff transparent;
    filter: drop-shadow(2px -2px 2px rgba(0, 0, 0, 0.1));
  }
  
  .article_padding {
    padding-right: 5rem !important;
    padding-left: 6rem !important;
  }
  
  .massege_alrt{
    margin-top: 0px !important;
  }
  
  @media screen and (max-width: 700px) {
    .article_padding {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }
  

  .links{
    color: rgb(38, 38, 246);
  }

  .links:hover{
    color: rgb(22, 22, 249);
    text-decoration: underline; 
  }

  .upper_heading{
    display: none;
  }

  @media screen and (max-width: 760px) {
    .lower_heading{
      display: none;
    }

    .upper_heading{
      display: block;
    }
  }

  .banner_text{
    background-color: rgba(255, 255, 255, 0.489);
    padding: 1rem;
    border-radius: 1rem;
  }

  .card_container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card_width{
    width: 420px;
    height: 100%; 
  }
  
  @media screen and (max-width: 1040px) {
  
    .card_container{
      display: flex;
      justify-content: center;
    }
    
  }
  
  @media screen and (max-width: 500px) {
  
    .card_width{
      width: 300px !important;
      height: 100% !important;
    }
  
  }
  