.YourArticle h1 {
  font-family: 'Bower', Georgia, 'Times New Roman', serif;
}

.YourArticle p {
  font-family: 'Helvetica Neue', Calibri, Corbel, Helvetica, Roboto, Droid,
    sans-serif;
}

.del_btn{
  color: rgba(255, 0, 0, 0.63);
}

.del_btn:hover{
  color: rgb(226, 0, 0);
}