.blog h1 {
  font-family: 'Bower', Georgia, 'Times New Roman', serif;
}

.blog p {
  font-family: 'Helvetica Neue', Calibri, Corbel, Helvetica, Roboto, Droid,
    sans-serif;
}

.mobile_discover{
  display: none;
}

.tag_btn{
  width: 100%;
}

@media screen and (max-width: 1025px) {
  .desktop_discover{
    display: none;
  }
  .mobile_discover{
    display: block;
  }
}