
.left_side{
    width: 50%;
}

.right_side{
    width: 50%;
}

.login_Logo{
    width: 150px;
    align-items: center;
    margin: auto;
}

.read_more{
    text-align: center;
    margin: auto;
}

.whole_form {
    display: flex;
  } 

   .mobile_view{
    display: none !important;
  }

@media screen and (max-width: 700px) {

    .whole_form{
        flex-direction: column;
    }
   
    .desktop_view{
        display: none !important;
       }
    
       .mobile_view{
        display: block !important;
      } 

     .left_side{
        width: 100%;
        height: 50%;
    }

    .right_side{
        width: 100%;
        height: 50%;
    } 
    
  }